*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Outfit', sans-serif;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* code starts here */
body {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    padding: 1rem 0;
}

p {
    color: white;
    font-weight: 300;
    opacity: .5;
    font-size: 1.2rem;
}

.container {
    background: hsl(216, 50%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-radius: 1rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1.8rem;
    max-width: 320px;
    padding: 0;
}

.description {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.price-day {
    display: grid;
    grid-template-columns: 1.5rem 11rem 2rem 5rem;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
}

.ether {
    color: hsl(178, 100%, 50%);
    margin-right: 0;
}

.nft>img {
    border-radius: .5rem;

}

div>.owner {
    display: grid;
    grid-template-columns: 3.5rem 5.5rem 6rem;
    align-items: center;
    justify-items: start;
    padding-right: 5rem;


}

.underline {
    border: .5px solid hsl(215, 51%, 70%);
    width: 100%;
    opacity: .5;
    margin: 1rem 0;
}

.owner>img {
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0;
}

.title:hover {
    color: hsl(178, 100%, 50%);
}

div>.title {
    color: white;
}

.nft::before {
    content: "";
    width: 320px;
    height: 320px;
    background: hsl(178, 100%, 50%);
    position: absolute;
    border-radius: .5rem;
    cursor: pointer;
    opacity: 0;

}

.nft:hover::before {
    background: hsl(178, 100%, 50%);
    background-image: url("./images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
}